@model IEnumerable<Crud.Models.Usuario>

@{
    ViewBag.Title = "Lista de usuários";
}

<h2>Lista de usuários</h2>

<p>
    @Html.ActionLink("Novo Usuario", "Criar")
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GrupoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GrupoNome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Login)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Editar", "Alterar", new { id=item.Id }) |
            
            @Html.ActionLink("Deletar", "Deletar", new { id=item.Id })
        </td>
    </tr>
}

</table>
